@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 2.7vw 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #2E1449;
}

.header-logo {
    margin-left: 4.8vw;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 1.4vw;
    font-size: 0.9vw;
    line-height: 21px;
}

.menu__icon {
    margin-right: 1.2vw;
}

.menu__icon:last-child {
    margin-right: 0;
}

.menu__item:hover, .menu__icon:hover {
  opacity: .7;
}

.main {
    display: flex;
    width: 100%;
    background: right bottom / 60.3vw 40vw no-repeat url(./img/Vector-4.png),
                right bottom / 52.5vw 33.5vw no-repeat url(./img/Vector-3.png);
    color: #2E1449;
}

.description {
    margin: 13.3vw 15vw 0 13.2vw;
    width: 30.8vw;
    height: max-content;
}

.description__title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    line-height: 3.6vw;
    font-weight: 700;
    font-size: 3vw;
    width: 93%;
    margin-bottom: 2.3vw;
    padding: 2px 0px 2px 1px;
}

.description__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 95%;
    margin-left: 0.7vw;
    letter-spacing: 0.8px;
    line-height: 1.3vw;
}

.props {
    width: 20.8vw;
    height: max-content;
    margin: 16vw 0 0 0;
}

.props__title {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 0.7px;
    margin-bottom: 1vw;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form__input {
    border: none;
    border-radius: 5px;
    height: 2.6vw;
    margin-bottom: 0.9vw;
    font-size: 21px;
    line-height: 26px;
    padding: 3px 0 0 17px;
}

/* ::-webkit-input-placeholder {
    padding: 5vw 20vw 20vw 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
} */
::-moz-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}
:-moz-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}
:-ms-input-placeholder {
    padding: 4vw 0 0 0.8vw;
    line-height: 2vw;
    font-size: 1.1vw;
}

.form__button {
    width: 100%;
    height: 2.8vw;
    font-size: 1.1vw;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #7400E8;
    margin-bottom: 0.7vw;
    padding: 1px 8px 3px 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.props__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
    opacity: 50%;
    padding: 0px 0px 0px 2px;
}

.props__text span {
    text-decoration: underline;
}

.footer {
    height: 1.2vw;
    width: 100%;
    background-color: #7400E8;
}

@media(max-width: 1366px) {
  .header {
    width: 86.5%;
  }

  .header-logo {
    margin: 0.4vw 4.8vw;
  }

  .menu {
    width: 35.5%;
  }

  .menu__item {
    font-size: 14px;
    line-height: 16px;
    padding: 0 3px;
  }

  .menu__icon {
    width: 24px;
    height: 24px;
    margin-right: 1.6vw;
    padding-left: 2px;
  }

  .main {
    padding: 0 0 0 68px;
  }

  .description {
    margin: 10.3vw 15vw 0 11vw;
    padding: 0 0 0 30px;
  }

  .description__title {
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0;
    margin-bottom: 1.6vw;
    padding: 3px 0 2px 7px;
  }

  .description__text {
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    padding: 0px 0 0 8px;
  }

  .props {
    width: 22.3vw;
    margin: 12.7vw 0 0 0;
  }

  .form {
    padding: 0 0 0 4px;
  }

  .form__input {
    font-size: 14px;
    line-height: 16px;
    padding: 1px 0 2px 11px;
  }

  .form__button {
    padding: 6px 14px 4px 0px;
    margin-bottom: 1vw;
    height: 2.9vw;
    font-size: 14px;
    line-height: 16px;
  }

  .props__title {
    padding: 1px 0 0 5px;
  }

  .props__text {
    font-size: 12px;
    line-height: 14px;
    padding: 0 0 0 4px;
  }

  .footer {
    height: 1.8vw;
  }
}

@media(max-width: 1024px) {
  .header {
    width: 91.5%;
    padding: 2.5vw 0;
  }

  .header-logo {
    margin: 1.6vw 0.7vw;
  }

  .menu {
    width: 37.5%;
    margin: 0 2px 3px 0px;;
  }

  .menu__item {
    padding: 0 10px 0 0px;
  }

  .menu__icon {
    padding: 2px 6px 0 1px;
  }

  .main {
    padding: 0;
  }

  .description {
    width: 40vw;
    margin: 13.9vw 15vw 0px 1.3vw;
  }

  .description__title {
    margin-bottom: 2vw;
    padding: 2px 0px 3px 8px;
  }

  .props {
    width: 29.7vw;
    margin: 16.9vw 0px 0px 62px;
  }

  .props__title {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0;
  }

  .form__input {
    margin-bottom: 1.2vw;
    height: 40px;
    padding: 3px 0px 0px 11px;
  }

  .form__button {
    height: 3.9vw;
    padding: 6px 13px 6px 0px;
  }

  .footer {
    height: 2.4vw;
  }
}
